<div class="card mb-3">
	<div class="row g-0">
		<div class="col-md-1 justify-content-center d-flex align-items-center">
			<img
				src="{{user.avatar}}"
				class="rounded-circle shadow-2-strong"
				height="75"
				alt="Black and White Portrait of a Man"
				loading="lazy"
			/>
		</div>
		<div class="col-md-10">
			<div class="card-body">
				<h5 class="card-title fw-bold text-uppercase">{{company.name}}</h5>
				<div class="d-flex">
					<p class="card-text">
						<i class="fas fa-globe"></i>
						<small class="pl-2 text-muted">{{company.website}}</small>
					</p>
					<p class="ml-5 card-text">
						<i class="far fa-building"></i>
						<small class="pl-2 text-muted">{{company.numEmployer}}
							employees</small>
					</p>
				</div>
				<p class="card-text">
					<i class="fas fa-user-plus"></i>
					<small class="pl-2 text-muted">10 followers</small>
				</p>
			</div>
		</div>
	</div>

</div>
<div class="row g-0">
	<div class="card p-3">
		<div class="row mt-3">
			<div class="col">
				<!-- Name input -->
				<div class="form-outline">
					<input
						type="text"
						id="id"
						class="form-control"
						value="{{company._id}}"
						readonly
						disabled
					/>
					<label class="form-label" for="id">Company ID</label>
				</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col">
				<!-- Name input -->
				<div class="form-outline">
					<input
						type="text"
						id="name"
						class="form-control"
						value="{{company.name}}"
					/>
					<label class="form-label" for="name">Company Name</label>
				</div>
			</div>
			<div class="col">
				<!-- Email input -->
				<div class="form-outline">
					<input
						type="text"
						id="phone"
						class="form-control"
						value="{{company.phone}}"
					/>
					<label class="form-label" for="phone">Phone Number</label>
				</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col">
				<!-- Name input -->
				<div class="form-outline">
					<input
						type="text"
						id="website"
						class="form-control"
						value="{{company.website}}"
						readonly
						disabled
					/>
					<label class="form-label" for="website">Website address</label>
				</div>
			</div>
			<div class="col">
				<div class="form-outline datepicker" data-mdb-inline="true">
					<input
						type="text"
						class="form-control"
						id="establishment_date"
						name="establishment_date"
						value="{{{dateFormat company.establishment_date timeStamp}}}"
					/>
					<label for="establishment_date" class="form-label">Establishment Date</label>
				</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col">
				<select class="select" id="auth" name="auth">
					{{#if company.auth}}
						<option value="true" selected>Has been authenticated</option>
						<option value="false">Not yet authenticated</option>
					{{else}}
						<option value="true">Has been authenticated</option>
						<option value="false" selected>Not yet authenticated</option>
					{{/if}}
				</select>
				<label for="auth" class="form-label select-label">Authentication</label>
			</div>
			<div class="col">
				<select class="select" id="status" name="status">
					{{#if company.status}}
						<option value="true" selected>Active</option>
						<option value="false">Inactive</option>
					{{else}}
						<option value="true">Active</option>
						<option value="false" selected>Inactive</option>
					{{/if}}
				</select>
				<label for="status" class="form-label select-label">Status</label>
			</div>
		</div>
		<div class="row mt-3 justify-content-end">
			<div class="col-1">
				<div class="">
					<button
						class="btn btn-primary btn-rounded mb-4"
						id="cancel"
						onclick="history.back()"
					>Cancel</button>
				</div>
			</div>
			<div class="col-1">
				<div class="">
					<button
						onclick="updateCompany()"
						class="btn btn-success btn-rounded btn-block mb-4"
						id="update-company"
					>Save</button>
				</div>
			</div>
		</div>
	</div>
</div>