<div class="row">
	<div class="c-candi">
		<a href="/candidate/create">
			<button type="button" class="btn btn-primary">ADD</button>
		</a>
	</div>
	<table class="table align-middle mb-0 mt-3 bg-white table-hover">
		<thead class="bg-light">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Phone</th>
				<th>Created at</th>
				<th>Status</th>
				<th colspan="2">Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#each users}}
				<tr>
					<td scope="row">{{sum @index 1}}</td>
					<td>
						<div class="d-flex align-items-center">
							<img
								src={{this.avatar}}
								alt=""
								style="width: 45px; height: 45px"
								class="rounded-circle"
							/>
							<div class="ms-3">
								<p class="fw-bold mb-1">{{this.first_name}}
									{{this.last_name}}</p>
								<p class="text-muted mb-0">{{this.email}}</p>
							</div>
						</div>
					</td>
					<td>
						<p class="text-muted mb-0">{{this.phone}}</p>
					</td>
					<td>
						<p class="text-muted mb-0">{{this.createdAt}}</p>
					</td>
					<td>
						{{#if active}}
							<span class="badge badge-success rounded-pill d-inline">
								active
							</span>
						{{else}}
							<span class="badge badge-danger rounded-pill d-inline">
								Inactive
							</span>
						{{/if}}
					</td>
					<td>
						<button type="button" class="btn btn-link btn-sm btn-rounded">
							<a href="/candidate/detail/{{this._id}}">Edit</a>
						</button>
						<button type="button" class="btn btn-link btn-sm btn-rounded">
							<a href="/candidate/detail/{{this._id}}">Delete</a>
						</button>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>