<div class="row">
	<table class="table align-middle mb-0 bg-white table-hover">
		<thead class="bg-light">
			<tr>
				<th>Name</th>
				<th>Phone</th>
				<th>Created at</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#each users}}
				<tr>
					<td>
						<div class="d-flex align-items-center">
							<img
								src={{this.avatar}}
								alt=""
								style="width: 45px; height: 45px"
								class="rounded-circle"
							/>
							<div class="ms-3">
								<p class="fw-bold mb-1">{{this.first_name}}
									{{this.last_name}}</p>
								<p class="text-muted mb-0">{{this.email}}</p>
							</div>
						</div>
					</td>
					<td>
						<p class="text-muted mb-0">{{this.phone}}</p>
					</td>
					<td>
						<p class="text-muted mb-0">{{this.created_at}}</p>
					</td>
					<td>
						{{#if active}}
							<span class="badge badge-success rounded-pill d-inline">
								active
							</span>
						{{else}}
							<span class="badge badge-danger rounded-pill d-inline">
								Inactive
							</span>
						{{/if}}
					</td>
					<td>
						<button type="button" class="btn btn-link btn-sm btn-rounded">
							<a href="/candidate/detail/{{this._id}}">Edit</a>
						</button>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<div class="card mb-3" style="max-width: 540px;">
	<div class="row g-0">
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					This is a wider card with supporting text below as a natural lead-in
					to additional content. This content is a little bit longer.
				</p>
				<p class="card-text">
					<small class="text-muted">Last updated 3 mins ago</small>
				</p>
			</div>
		</div>
		<div class="col-md-4">
			<canvas
				id="saleschart"
				class="h-8 w-9 chart-dropshadow chartjs-render-monitor"
				width="192"
				height="128"
				style="display: block; height: 64px; width: 96px;"
			></canvas>
		</div>
	</div>
</div>
<div
	class="col-sm-12 col-md-10 col-xl-8 mb-4"
	data-chart="bar"
	data-dataset-label="Traffic"
	data-labels="['Monday', 'Tuesday' , 'Wednesday' , 'Thursday' , 'Friday' , 'Saturday' , 'Sunday ']"
	data-dataset-data="[2112, 2343, 2545, 3423, 2365, 1985, 987]"
></div>