{{!-- <div class="row">
	<table class="table align-middle mb-0 bg-white table-hover">
		<thead class="bg-light">
			<tr>
				<th>Name</th>
				<th>Phone</th>
				<th>Created at</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#each users}}
				<tr>
					<td>
						<div class="d-flex align-items-center">
							<img
								src={{this.avatar}}
								alt=""
								style="width: 45px; height: 45px"
								class="rounded-circle"
							/>
							<div class="ms-3">
								<p class="fw-bold mb-1">{{this.first_name}}
									{{this.last_name}}</p>
								<p class="text-muted mb-0">{{this.email}}</p>
							</div>
						</div>
					</td>
					<td>
						<p class="text-muted mb-0">{{this.phone}}</p>
					</td>
					<td>
						<p class="text-muted mb-0">{{this.created_at}}</p>
					</td>
					<td>
						{{#if active}}
							<span class="badge badge-success rounded-pill d-inline">
								active
							</span>
						{{else}}
							<span class="badge badge-danger rounded-pill d-inline">
								Inactive
							</span>
						{{/if}}
					</td>
					<td>
						<button type="button" class="btn btn-link btn-sm btn-rounded">
							<a href="/detail/{{this._id}}">Edit</a>
						</button>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div> --}}

<div class="row">
	<h3 class="text-muted fw-bold fs-5 pb-4">

		Dashboard
	</h3>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="card card-dashboard mb-3">
			<div class="row g-0">
				<div class="col-md-7">
					<div class="card-body">
						<h5 class="card-title">Total Candidates</h5>
						<p class="card-text fw-bold fs-3 count-candidate">
						</p>
						<span class="card-text card-percent text-muted fs-12">
							<span class="text-info">
								<i class="far fa-arrow-alt-circle-down">
								</i>
								5%
							</span>
							Last month
						</span>
					</div>
				</div>
				<div class="col-md-5 d-flex align-items-center">
					<img
						src="/img/chart1.png"
						alt="chart"
						class="img-fluid rounded-start"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-dashboard mb-3">
			<div class="row g-0">
				<div class="col-md-7">
					<div class="card-body">
						<h5 class="card-title">Total Employers</h5>
						<p class="card-text fw-bold fs-3 count-employer">
						</p>
						<span class="card-text card-percent text-muted fs-12">
							<span class="text-info">
								<i class="far fa-arrow-alt-circle-down">
								</i>
								4%
							</span>
							Last week
						</span>
					</div>
				</div>
				<div class="col-md-5 d-flex align-items-center">
					<img
						src="/img/chart2.png"
						alt="chart"
						class="img-fluid rounded-start"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-dashboard mb-3">
			<div class="row g-0">
				<div class="col-md-7">
					<div class="card-body">
						<h5 class="card-title">Total Jobs</h5>
						<p class="card-text fw-bold fs-3 count-job">
						</p>
						<span class="card-text card-percent text-muted fs-12">
							<span class="text-info">
								<i class="far fa-arrow-alt-circle-down">
								</i>
								8%
							</span>
							Last week
						</span>
					</div>
				</div>
				<div class="col-md-5 d-flex align-items-center">
					<img
						src="/img/chart3.png"
						alt="chart"
						class="img-fluid rounded-start"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-dashboard mb-3">
			<div class="row g-0">
				<div class="col-md-7">
					<div class="card-body">
						<h5 class="card-title">Total Companies</h5>
						<p class="card-text fw-bold fs-3 count-companies">
						</p>
						<span class="card-text card-percent text-muted fs-12">
							<span class="text-info">
								<i class="far fa-arrow-alt-circle-down">
								</i>
								2%
							</span>
							Last week
						</span>
					</div>
				</div>
				<div class="col-md-5 d-flex align-items-center">
					<img
						src="/img/chart2.png"
						alt="chart"
						class="img-fluid rounded-start"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9 mb-5">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title fs-5 fw-bold">
					Users Analytics
				</h3>
			</div>
			<div class="card-body">
				<div id="curve_chart"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-12 col-xl-3 mb-5">
		<div class="card">
			{{! <div class="card-header">
				<h3 class="card-title fs-5 fw-bold">
					Users Analytics
				</h3>
			</div> }}
			<div class="card-body mb-0 pb-0">
				<div id="columnchart_material" style="height: 400px;"></div>
			</div>
			<div class="card-footer p-0">
				<h3 class="card-title fs-5 fw-bold">
					Users Analytics
				</h3>
			</div>
		</div>
	</div>
</div>